/* reset css */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    /* position */
    display:block;
    height:1px;
    border:0;  
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* style css */


html, body {
    /* position */
    padding:0;
    margin: 0;
    /* style */
    font-family: 'Roboto', sans-serif;
    background-color:#1e3868;
}

.content > h1 {
    /* position */
    padding:0;
    margin: 0 0 1rem 0;
    /* style */
    font-size: 2rem;
}

header {
    /* position */
    position: fixed;
    z-index: 10;
    top: 0;
    height: 3rem;
    width: 100%;
    /* style */
    background-color:#1e3868;
    border-bottom: 2px solid #020202;
}

header > h1 {
    /* position */
    margin: 0.5rem 0 0 0;
    /* style */
    font-size: 2rem;
}

nav {
    margin: 0 1rem 0 1rem;
}

nav > a {
    /* position */
    margin: 1rem 0 0.5rem 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    /* style */
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

nav > ul {
    /* position */
    margin: 0.5rem 0 0 0;
    float: right;
    /* style */
    text-align: center;
}

nav > ul > li{
    /* position */
    padding: 0 0 0 1rem;
    float: left;
}

nav > ul > li > a {
    /* position */
    margin: 0.5rem 0 0.5rem 0;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    /* style */
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
}

main {
    /* position */
    margin: 3rem 1rem 0 1rem;
    padding: 3rem 0rem 0 0rem;
    min-height: 1px;
    display:grid;
    grid-template-columns: 1fr;
}

main > .content {
    /* position */
    grid-column-start: 1;
    grid-column-end: 2;
    padding: 1rem;
    margin: 0 0 2rem 0;
    /* style */
    position:relative;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
}


main > .sideMenu {
    /* position */
    grid-column-start: 1;
    grid-column-end: 2;
    /* style */
}

.menu {
    list-style-type: none;
    position: fixed;
    bottom: 1rem;
    flex-direction:row ;
    display: flex;
    justify-content: space-around;
    z-index: 10;
    width:100%;
    left: 0;
}

footer {
    /* position */
    position: relative;
    bottom: 0;
    height: 8rem;
    width: 100%;
    padding: 0.5rem 0 0 0;
    /* style */
    background-color:black;
    color: lightgray;
    text-align: center;
}

button {
    margin: 0.5rem 0 0.5rem 0;
}

th {
    /* position */
    padding: 0 1rem 1rem 0;
    /* style */
    text-align: left;
}

tr {
    /* position */
    padding:0.5rem 0 0.5rem 0;
}

td {
    /* position */
    padding:0.5rem 0.5rem 0.5rem 0;
}

ul {
    /* position */
    padding: 0 0 0 1rem;
}

li {
    /* position */
    padding: 0.5rem 0 0.5rem 0;
}

li > a {
    /* style */
    text-decoration: none;
    color: white;
}

li > a:link {
    /* style */
    text-decoration: none;
    color: white;
}

li > a:visited {
    /* style */
    text-decoration: none;
}

li > a:hover {
    /* style */
    text-decoration: underline;
}

li > a:active {
    /* style */
    text-decoration: underline;
}

.noneSmall {
    display: none;
}

.mobileMenu {
    /* position */
    position: fixed;
    z-index: 10;
    bottom: 0;
    height: 3.5rem;
    width: 100%;
    /* style */
    background-color:lavender;
    border-top: 2px solid #020202;
    /* flex */
    flex-direction:row ;
    display: flex;
    justify-content: space-around;
}

.mobileMenuItem {
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}


.mobileMenuItem > a {
    /* position */
    display: block;
    margin:0 auto;
    /* style */
    text-align: center;
}

.mobileMenuItem > a > img {
    /* style */
    text-align: center;
    font-size: 0.75rem;
}

.mobileMenuItem > div {
    /* style */
    text-align: center;
    font-size: 0.75rem;
}

form :invalid {
    box-shadow: none;  /* neutralizing FF */
    outline: dotted red;
}
form > div  {
    margin-bottom: 0.7em;
}
form > div.multi-sel  {
    margin-bottom: 3.5em;
}
form > div > label {
    display: block;     /* by default, one labeled control per line*/
    position: relative;
    margin: 0 0 5px 0;
    width: 40em;
}
form > div.field-group > label {
    display: inline-block;
}
form > div.widget > label {
    display: inline;
}
form > div.widget > div {
    display: inline-block;
}
form > div.widget > div,
  form > div > label > input[type="text"],
  form > div > label > textarea,
  form > div > label > input[type="checkbox"],
  form > div > label > select,
  form > div > label > div.MultiChoiceWidget,
  form > div > label > output {
    position: absolute;
    left: 11em;
}
form > div  > button {
    margin-right: 0.5em;
}

form > fieldset {
    margin-bottom: 1em;
}
form > fieldset > label {
    margin-right: 1em;
}
form > fieldset > label > input[type="radio"],
form > fieldset > label > input[type="checkbox"] {
    margin-right: 0.5em;
}

/* the height of multi-line elements must be limited */
form > div.select-many {
    height: 6em;
}
form > div.widget {
    height: 8em;
}

/* Association List Widget */
form div.MultiSelectionWidget {
    outline: solid grey 1px;
    padding: 5px;
    max-width: 30em;
    max-height: 8em;  /* of the widget contaner */
}
form div.MultiSelectionWidget > ul {
    padding-left: 8px;
    margin-top: 0;
    list-style-type:none;
}
form div.MultiSelectionWidget > ul > li {
    width: 100%;
    clear: right;
}
form div.MultiSelectionWidget > ul > li > button {
    float: right;
    margin-left: 0.5em;
    font-size: 80%;
    vertical-align: middle;
}
form div.MultiSelectionWidget > ul > li.removed {
    color: red;
    text-decoration: line-through;
}
form div.MultiSelectionWidget > ul > li.added {
    color: green;
}

/*  Multiple Choice Widget */
form div.MultiChoiceWidget {
    outline: solid grey 1px;
    padding: 5px;
    max-width: 21em;
    max-height: 10em;  /* of the widget container */
}
form div.MultiChoiceWidget > ul {
    padding-left: 8px;
    margin-top: 0;
    list-style-type:none;
}
form div.MultiChoiceWidget > ul > li {
    width: 100%;
    clear: right;
}
form div.MultiChoiceWidget > ul > li > button {
    float: right;
    margin-left: 0.5em;
    font-size: 70%;
    /* vertical-align: middle; */
}
form div.MultiChoiceWidget > ul > li.removed {
    color: red;
    text-decoration: line-through;
}
form div.MultiChoiceWidget > ul > li.added {
    color: green;
}

.buttonIcon {
    margin: 0.5rem 0 0 0;
}

.buttonMenu {
    width: 80px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.menuBg {
    /* position */
    position: fixed;
    bottom: 0;
    height: 6rem;
    width: 100%;
    z-index: 5;
    /* style */
    background-color: #1e3868;
    border-top: 2px solid #020202;
}

@media only screen and (min-width: 768px) {
    .noneBig {
        /* position */
        display:none;
    }
    .noneSmall {
        /* position */
        display: block;
    }
    header {
        /* position */
    }
    nav {
        /* position */
        margin: 0 4rem 0 4rem;
    }
    main {
        /* position */
        margin: 3rem 4rem 4rem 4rem;
        grid-template-columns: 1fr 1fr 1fr;
        min-height: 100%;
        position: relative;

    }
    footer {
        /* position */
        position: fixed;
        bottom: 0;
        height:2rem;
    }
    main > .content {
        /* position */
        grid-column-start: 2;
        grid-column-end: 4;
        /* style */
        position:initial;
        background-color: #f5f5f5;
        padding:1rem;
        border-radius: 4px;
    }
    
    main > .sideMenu {
        /* position */
        grid-column-start: 1;
        grid-column-end: 2;
        /* style */
    }
    .menu {
        list-style-type: none;
        bottom: unset;
        left: unset;
        display: block;
        justify-content: unset;
        flex-direction:unset ;
        z-index: 1;
        position: -webkit-sticky;
        position: sticky;
        top: 5rem;
    }
    .buttonMenu {
        width: 50%;
        background-color: #f5f5f5;
        border-radius: 4px;
        margin: 0 0 1rem 0;
    }
    
}
